@media (max-width: 360px) {
    html {
        font-size: 16px;
    }

    .container {
        gap: 4em;
    }

    .card--number--container {
        font-size: 2rem;
    }

    .card--title {
        font-size: 2rem;
    }
}