@media (max-width: 370px) {

    $sm-height-span: -1.4rem;

    html {
        font-size: 10px;
    }

    .container {
        gap: 4em;
    }

    .cards--section {
        gap: 2.75em;
    }

    .title {
        font-size: 1.75rem;
    }

    .card--number--container {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 2.25rem;
        box-shadow: 0 $sm-border-radius 2px black;
        border-radius: $sm-border-radius;
        overflow: hidden;

        .card--title {
            font-size: 2.25rem;
        }

        .top--card {
            border-radius: $sm-border-radius $sm-border-radius 0 0;

            span {
                bottom: $sm-height-span;
            }
        }

        .bottom--card {
            border-radius: 0 0 $sm-border-radius $sm-border-radius;

            span {
                top: $sm-height-span;
            }
        }

        .bottom--card_2 {
            border-radius: 0 0 $sm-border-radius $sm-border-radius;

            span {
                top: $sm-height-span;
            }
        }

        &::before,
        &::after {
            width: 0.7rem;
            height: 0.7rem;
        }

        &::before {
            left: -0.35rem;
        }

        &::after {
            right: -0.35rem;
        }
    }

    .card--subtitle {
        font-size: 0.7em;
    }

    .social--container {
        max-width: 100vw;

        img {
            height: 20%;
            object-fit: cover;
        }

        .fab {
            top: 6em;
        }
    }

    .attribution {
        font-size: 8px;
    }
}