*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

$col-ppal: hsl(237, 18%, 59%);
$col-red: hsl(345, 95%, 68%);

$col-dark: hsl(236, 21%, 26%);
$col-dark-blue: hsl(235, 16%, 14%);
$col-darker: hsl(234, 17%, 12%);

body {
    font-family: 'Red Hat Text', sans-serif;
    color: $col-ppal;
}

.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient($col-dark-blue, $col-dark);
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7em;
    position: relative;
    background: url('./images/bg-stars.svg');
}

.title {
    text-transform: uppercase;
    color: #fff;
}

// Cards Secition

.cards--section {
    display: flex;
    gap: 4em;
    padding-bottom: 10em;
}

.cards--container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.card--number--container {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 14vh;
    height: 14vh;
    background-color: $col-dark;
    border-radius: 10px;
    box-shadow: 0 10px 5px black;
    position: relative;
    transition: all 0.5s ease;
    color: $col-red;
    font-size: 4rem;
    perspective: 400px;

    .card--title {
        height: 55%;
        font-size: 4rem;
        position: absolute;
        overflow: hidden;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .top--card {
        background-color: $col-dark;
        overflow: hidden;
        width: 100%;
        height: 50%;
        position: relative;
        border-bottom: $col-darker 1px solid;
        display: flex;
        justify-content: center;
        z-index: 1;

        opacity: 0;
        transform-origin: center bottom;
        transform-style: preserve-3d;
        border-radius: 10px 10px 0 0;

        &.activated {
            animation: top-card 0.25s cubic-bezier(.15,.45,.28,1);
            animation-fill-mode: both;
        }

    @keyframes top-card {
        0% {
            transform: rotateX(0deg);
            z-index: 2;
          }
          0%, 99% {
            opacity: 0.99;
          }
          100% {
            transform: rotateX(-90deg);
            opacity: 0;
          }
    }

        span {
            color: $col-red;
            text-align: center;
            position: absolute;
            bottom: -2.6rem;
            transform-style: preserve-3d;


        }
    }

    .bottom--card {
        background-color: $col-dark;
        overflow: hidden;
        width: 100%;
        height: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        border-top: $col-darker 1px solid ;
        padding: 0;
        z-index: 1;
        transform-style: preserve-3d;
        transform-origin: center top;
        transform: rotateX(-90deg);
        opacity: 0;
        border-radius: 0 0 10px 10px;

        &.activated {
            animation: bottom-card 0.5s cubic-bezier(.15,.45,.28,1);
            animation-fill-mode: both;
        }

        span {
            color: $col-red;
            position: absolute;
            top: -2.6rem;
            text-align: center;
            transform-style: preserve-3d;
         

        }
    }

    @keyframes bottom-card {
        0%, 50% {
            z-index: -1;
            transform: rotateX(90deg);
            opacity: 0;
          }
          51% {
            opacity: 0.99;
          }
          100% {
            opacity: 0.99;
            transform: rotateX(0deg);
            z-index: 5;
          }
    }

    .bottom--card_2 {
        background-color: $col-dark;
        overflow: hidden;
        width: 100%;
        height: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        border-top: $col-darker 1px solid ;
        padding: 0;
        z-index: 0;
        transform-style: preserve-3d;
        transform-origin: center top;
        border-radius: 0 0 10px 10px;
        bottom: 0;

        span {
            color: $col-red;
            position: absolute;
            top: -2.6rem;
            text-align: center;
            transform-style: preserve-3d;
         

        }
    }

    &::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $col-darker;
        position: absolute;
        z-index: 10;
        left: -10px;
        top: 50%;
        transform: translateY(-50%)
    }

    &::after {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $col-darker;
        position: absolute;
        z-index: 10;
        right: -10px;
        top: 50%;
        transform: translateY(-50%)
    }


}

.card--subtitle {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 0.8em;
}

// Social media section

.social--container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    // background: lightblue;

    img {
        width: 100%;

        position: absolute;
        z-index: 0;
        bottom: 0;
    }
}

.fab {
    position: relative;
    top: 2em;
    z-index: 1;
    font-size: 2rem;
    color: $col-ppal;

    &:hover {
        color: $col-red;
    }
}

// Footer

.attribution {
    padding: 1.5em;
    font-size: 12px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}