*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

$col-ppal: hsl(237, 18%, 59%);
$col-red: hsl(345, 95%, 68%);

$col-dark: hsl(236, 21%, 26%);
$col-dark-blue: hsl(235, 16%, 14%);
$col-darker: hsl(234, 17%, 12%);

body {
    font-family: 'Red Hat Text', sans-serif;
    color: $col-ppal;
}

.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient($col-dark-blue, $col-dark);
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7em;
    position: relative;
    background: url('./images/bg-stars.svg');
}

.title {
    text-transform: uppercase;
    color: #fff;
}

// Cards Secition

.cards--section {
    display: flex;
    gap: 4em;
    padding-bottom: 10em;
}

.cards--container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.card--number--container {
    display: flex;
    flex-direction: column;
    width: 2.25em;
    height: 2.25em;
    background-color: $col-dark;
    border-radius: 10px;
    box-shadow: 0 10px 5px black;
    position: relative;
    transition: all 0.5s ease;
    color: $col-red;
    font-size: 4rem;

    .card--title {
        font-size: 4rem;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .top--card {
        background-color: lightblue;
        overflow: hidden;
        width: 100%;
        height: 50%;
        position: relative;

        span {
            color: blue;
            position: absolute;
            bottom: -3rem;
            text-align: center;

        }
    }

    .bottom--card {
        background-color: lightcoral;
        overflow: hidden;

        span {
            color: red;
            position: absolute;
            top: -0.5rem;
            text-align: center;

        }
    }

    &::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: lightblue;
        position: absolute;
        z-index: 1;
        left: -10px;
    }

    &::after {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: lightblue;
        position: absolute;
        z-index: 1;
        right: -10px;
    }


}

.card--subtitle {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 0.8em;
}

// Social media section

.social--container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    // background: lightblue;

    img {
        width: 100%;

        position: absolute;
        z-index: 0;
        bottom: 0;
    }
}

.fab {
    position: relative;
    top: 2em;
    z-index: 1;
    font-size: 2rem;
    color: $col-ppal;

    &:hover {
        color: $col-red;
    }
}

// Footer

.attribution {
    padding: 1.5em;
    font-size: 12px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}